@import "tailwindcss";

@theme {
  /* Definisikan warna custom di sini */
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-primary-light: #e0e7ff;
}

/* Background default */
body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}
